*
!README.md
!bin*
!bin/*
!.vim*
!.vim/*
!.gitignore
!.gitmodules
!.bash_aliases
!.bashrc
!.Xresources
!*.vim
!.config
!.config/awesome
!.config/awesome/*
!.config/awesome/vicious/*
!*.lua
!.zshrc
!.oh-my-zsh/
!.oh-my-zsh/oh-my-zsh.sh
!.oh-my-zsh/lib
!.oh-my-zsh/plugins
!.oh-my-zsh/plugins/git
!.oh-my-zsh/plugins/git-extras
!.oh-my-zsh/plugins/cabal
!.oh-my-zsh/plugins/autoenv
!.oh-my-zsh/plugins/colorize
!.oh-my-zsh/plugins/python
!.oh-my-zsh/themes
!*.zsh-theme
!_git-branch
!_git-remote
!*.zsh
!.profile
!.zprofile
bin/fgfs
.gitignore
bin/jnc
.viminfo
.vimrcold
.vim/.netrwhist
