*
!README.md
!bin*
!bin/*
!.vim*
!.vim/*
!.gitignore
!.gitmodules
!.bash_aliases
!.bashrc
!.Xresources
!*.vim
!.config
!.config/awesome
!.config/awesome/*
!.config/awesome/vicious/*
!*.lua
.gitignore
.viminfo
.vimrcold
.vim/.netrwhist
